<app-nav-bar></app-nav-bar>
<div id="parent">
    <form [formGroup]="newdishForm" (ngSubmit)="onSubmit()" id=newdish_form class="container">
        <h3 class="mt-5" id="formName"><hr/>Add your dish<hr/></h3>
  
        <div>
            <label>
            Dish Name:
            <input type="text" formControlName="name">     
            </label>
        </div>
        <div id="foto">
            <input type="file" (change)="onFileSelected($event)">
        </div>
        <div>
            <span>
                <label>
                Food type:
                </label>
                <select formControlName="type">
                <option>
                    Pizza
                </option>
                <option>
                    Sushi
                </option>
                <option>
                    Fast Food
                </option>
                <option>
                    Desserts
                </option>
                <option>
                    Healthy
                </option>
                <option>
                    Traditional
                </option>
            </select>
            </span>
            
        </div>
        <div>
            <label>
            Ingredients:
            <input type="text" formControlName="ingredients">
            </label>
        </div>
        <div>
            <label>
            Number of dishes:
            </label>
            <input type="number" formControlName="number">
        </div>
        <div>
            <label>
            Date:
            <input type="date" formControlName="date">
            </label>
        </div>
        <div>
            <label>
            Price:
            <input type="number" formControlName="price">
            </label>
        </div>
        <div id="butao">
            <button type="submit" [disabled]="!newdishForm.valid">Add dish</button>
         </div>
    </form>  
</div>
