
.my-container{
  min-width: 350px;
  max-width: 40%;
  margin: auto;
}

#form-name, #butao{
   text-align: center;
}

label{
   align-items: center;
   width: 100%;
}
.user-card{
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 90%;
  flex-direction: column;
}
.user-box{
  background-color: rgb(247, 244, 243);
}
.user-box:focus{
  background-color: rgb(247, 244, 243) !important;
}
.button-box{
  background-color: #BB3127;
  font-weight: bold;
}
.icon-box{
  border-width: 0px 0px 0px 0px ;
  border-radius: 24px 0px 0px 24px;
  background-color: rgb(247, 244, 243);
}
.fix-icon{
  height: calc(1.5em + .75rem + 2px);
}
input, textarea {
  outline: none;
  box-shadow:none !important;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.my-btn{
  border-radius: 24px 24px 24px 24px;
  border: 0px;
}
.my-shadow {
  box-shadow: 0 .5rem 0.8rem rgba(0,0,0,.15)!important;
}
.p-2-5 {
  padding: 0.75rem!important;
}
