#parent {
    display: table;
    width: 100%;
 }



 .container {
   margin: 0 auto; 
   width:325px;
   clear: both;
 }
 
 .container input {
   width: 300px;
   clear: both;
   
 }

 #butao, #formName{
    text-align: center;
 }

 #foto{
    margin-bottom: 8px;
 }
 