<app-nav-bar></app-nav-bar>
<div id="add-dish-form">
  <form [formGroup]="newdishForm" (ngSubmit)="onSubmit()" id=newdish_form
    class="container">
    <h3 class="mt-5" id="form-name"><hr/>Add your dish<hr/></h3>

        <div>
          <label>
            Dish Name:<br>
            <input type="text" formControlName="name">
          </label>
        </div>
        <div id="foto">
          <input type="file" (change)="onFileSelected($event)">
        </div>
        <div>
          <span>
            <label>
              Food type:
            </label>
            <select formControlName="type">
              <option>Pizza</option>
              <option>Sushi</option>
              <option>Fast Food</option>
              <option>Desserts</option>
              <option>Healthy</option>
              <option>Traditional</option>
            </select>
          </span>

        </div>
        <div>
          <label>
            Ingredients: <br>
            <input type="text" formControlName="ingredients">
          </label>
        </div>
        <div>
          <label>
            Number of dishes: <br>
          </label> <br>
          <input type="number" formControlName="number">
        </div>
        <div>
          <label>
            Date:<br>
            <input type="date" formControlName="date">
          </label>
        </div>
        <div>
          <label>
            Price:<br>
            <input type="number" formControlName="price">
          </label> <br>
        </div>
        <div id="butao">
          <button type="submit" [disabled]="!newdishForm.valid">Add dish</button>
        </div>
      </form>
    </div>
