<footer class="font-small mdb-color pt-4">
  <!-- Footer Links -->
  <div class="navbar container text-center text-md-left ">
    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">ASW Project</h6>
        <p>This website was made for the subject of Applications and Web Services in the school year of 2019/2020</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Students</h6>
        <p>
          Andrei Tataru nª53746
        </p>
        <p>
          Artur Gomes nº51153
        </p>
        <p>
          Diogo Ramos nº51220
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Professors</h6>
        <p>
          Ana Paula Afonso
        </p>
        <p>
          Carlos Teixeira
        </p>
        <p>
          Tiago Guerreiro
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-4 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">FCUL</h6>
        <p>
          <fa-icon class="pr-2" [icon]="faHome"></fa-icon>Campo Grande 016, 1749-016 Lisboa</p>
        <p>
          <fa-icon class="pr-2" [icon]="faEnvelope"></fa-icon>docentes-asw@listas.di.ciencias.ulisboa.pt</p>
      </div>
    </div>
  </div>
</footer>


