
<mat-grid-list [cols]="breakpoint" rowHeight="550px" gutterSize="25px" (window:resize)="onResize($event)">
  <mat-grid-tile *ngFor="let dish of dishes">
    <mat-card [style.height.px]="height" class="my-shadow card-fix">
      <div class="card-fix-container">
        <img class="card-img-height" mat-card-image src={{dish.img}} alt={{dish.name}}>
        <mat-card-content>
          <mat-card-title align="center">{{dish.name}}</mat-card-title>
          <p class="montserrat">
            Ingredients: {{dish.ingredients}}
          </p>
          <p align="end" class="montserrat">
            Rating: {{dish.points}}
          </p>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-button class="m-auto p-1 pr-3 pl-3 button-box btn my-btn text-white" (click)=buyFood(dish.id)>Buy Dish</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
