<div style="height: 220px;" mat-dialog-content>
  <p>How much do you want to add?</p>
  <form [formGroup]="numberForm" (ngSubmit)="onSubmit()">
    <input class="user-box mt-3 mb-3 my-btn form-control" type="number"
      placeholder="Amount" name="Quantity" id="quantity"
      formControlName="quantity">
    <input class="user-box mt-3 mb-3 my-btn form-control" type="date"
      placeholder="date" name="Date" id="date" formControlName="date">
    <div mat-dialog-actions>
      <button mat-button class="m-auto p-1 pr-3 pl-3 button-box btn my-btn
        text-white" type="button" (click)="onCloseClick()">Close</button>
      <button class="m-auto p-1 pr-3 pl-3 button-box btn my-btn text-white"
        mat-button type="submit">Add</button>
    </div>
  </form>
</div>
