<div style="height: 200px;" mat-dialog-content>
  <p>How much do you wish to add?</p>
  <form [formGroup]="numberForm" (ngSubmit)="onSubmit()">
    <input class="user-box mt-3 mb-3 my-btn form-control" type="number" placeholder="quantity" name="Quantity" id="quantity" formControlName="quantity">
    <input class="user-box mt-3 mb-3 my-btn form-control" type="date" placeholder="date" name="Date" id="date" formControlName="date">
    <div mat-dialog-actions>
      <button mat-button (click)="onCloseClick()">Close</button>
      <button mat-button type="submit">Add</button>
    </div>
  </form>
</div>
