<app-nav-bar></app-nav-bar>
<mat-tab-group>
  <mat-tab label="Profile">
    <div class="card m-auto" style="width: 20rem;">
      <div>
        <img class="card-img-top" [src]=imgUrl alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{firstName}} {{lastName}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nickname: {{nickname}}</li>
        <li class="list-group-item">E-mail: {{email}}</li>
        <li class="list-group-item">Date of birth: {{birth}}</li>
        <li class="list-group-item">Gender: {{gender}}</li>
        <li class="list-group-item">District: {{district}}</li>
        <li class="list-group-item"><button mat-button class="my-button" (click)=rateVendor(userId)>Rate this vendor</button></li>
      </ul>
    </div>
  </mat-tab>
  <mat-tab label="Dishes">
    <app-user-food></app-user-food>
  </mat-tab>
</mat-tab-group>
