<div style="height: 175px;" mat-dialog-content>
  <p>Rate this Dish!</p>
  <form [formGroup]="rateForm" (ngSubmit)="onSubmit()">
    <input class="user-box mt-3 mb-3 my-btn form-control" type="number"
      placeholder="Rating 0-5" name="Points" id="points"
      formControlName="points">
    <div mat-dialog-actions>
      <button mat-button class="m-auto p-1 pr-3 pl-3 button-box btn my-btn
        text-white" type="button" (click)="onCloseClick()">Leave</button>
      <button mat-button class="m-auto p-1 pr-3 pl-3 button-box btn my-btn
        text-white" type="submit">Rate</button>
    </div>
  </form>
</div>
