<mat-grid-list
  class="ml-4 mr-4"
  [cols]="breakpoint"
  rowHeight="550px"
  gutterSize="25px"
  (window:resize)="onResize($event)">
  <mat-grid-tile>
    <mat-card [style.height.px]="height" class="my-shadow card-fix">
      <div class="card-fix-container">
        <img
          mat-card-image
          src="../../../assets/imgs/pizza-card.jpg"
          alt="Photo of a pizza"
          />
        <mat-card-content>
          <mat-card-title align="center">Pizza</mat-card-title>
          <p class="montserrat">
            Not from Italy, but just as delicious!
          </p>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-button class="my-button" (click)="redirect('pizza')">
            I want pizza!
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [style.height.px]="height" class="my-shadow card-fix">
      <div class="card-fix-container">
        <img
          mat-card-image
          src="../../../assets/imgs/sushi-card.jpg"
          alt="Photo of a pizza"
          />
        <mat-card-content>
          <mat-card-title align="center">Sushi</mat-card-title>
          <p class="montserrat">
            Recipe from Japan, made close to you
          </p>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-button class="my-button" (click)="redirect('sushi')">
            I want sushi!
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [style.height.px]="height" class="my-shadow card-fix">
      <div class="card-fix-container">
        <img
          mat-card-image
          src="../../../assets/imgs/fastfood-card.jpg"
          alt="Photo of a pizza"
          />
        <mat-card-content>
          <mat-card-title align="center">Fast food</mat-card-title>
          <p class="montserrat">
            Don't we all love fast food?
          </p>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-button class="my-button" (click)="redirect('fast food')">
            I want fast food!
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [style.height.px]="height" class="my-shadow card-fix">
      <div class="card-fix-container">
        <img
          mat-card-image
          src="../../../assets/imgs/desserts-card.jpg"
          alt="Photo of a pizza"
          />
        <mat-card-content>
          <mat-card-title align="center">Desserts</mat-card-title>
          <p class="montserrat">
            To end your meals with a bang
          </p>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-button class="my-button" (click)="redirect('desserts')">
            I want desserts!
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [style.height.px]="height" class="my-shadow card-fix">
      <div class="card-fix-container">
        <img
          mat-card-image
          src="../../../assets/imgs/healthy-card.jpg"
          alt="Photo of a pizza"
          />
        <mat-card-content>
          <mat-card-title align="center">Healthy</mat-card-title>
          <p class="montserrat">
            Staying in shape has never been easier
          </p>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-button class="my-button" (click)="redirect('healthy')">
            I want healthy!
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [style.height.px]="height" class="my-shadow card-fix">
      <div class="card-fix-container">
        <img
          mat-card-image
          src="../../../assets/imgs/traditional-card.jpg"
          alt="Photo of a pizza"
          />
        <mat-card-content>
          <mat-card-title align="center">Traditional</mat-card-title>
          <p class="montserrat">
            Just like grandma used to make
          </p>
        </mat-card-content>
        <mat-card-actions align="center">
          <button
            mat-button
            class="my-button"
            (click)="redirect('traditional')">
            I want traditional!
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
