
  <mat-list>
    <h3 id ="list-header">Statistics from our website</h3>
    <mat-divider></mat-divider>
    <mat-list-item> Number of different buyers: {{this.nDifferentBuyers}}  </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> Number of dishes sold: {{this.nSoldDishes}} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> Average Price Per Dish: {{this.averagePrice}} € </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> Our most expensive bought dish costs: {{this.mostExpensiveDish}} € </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> Our most expensive full order was: {{this.mostExpensiveOrder}} € </mat-list-item>
    <mat-divider></mat-divider>
   </mat-list>