<div class="w-100 h-100 p-0 m-0">
  <app-nav-bar></app-nav-bar>
  <h2 class="roboto mt-5 text-center">Create your free account</h2>
  <div class="container border mt-4 mb-4 pb-5 pt-3 my-btn my-shadow">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="row m-0 p-0">
        <div class="col-sm-12 p-0 m-0 mt-5 justify-content-start">
          <div class="container-fluid">
            <div class="d-flex justify-content-center">
              <div class="user-card">
                <div class="form">
                  <h4 class="roboto separator">
                    Personal Information
                    <hr />
                  </h4>
                  <div class="form-row">
                    <div class="input-group col-md-6">
                      <div class="input-group-prepend">
                        <div class="input-group-text fix-icon mt-2 mb-3 icon-box
                          pr-1">
                          <fa-icon [icon]="faUser"></fa-icon>
                        </div>
                      </div>
                      <input required class="user-box mt-2 mb-3 my-btn
                        form-control" type="text" placeholder="Name*"
                        name="Name" id="name" formControlName="firstName" />
                    </div>
                    <div class="input-group col-md-6">
                      <div class="input-group-prepend">
                        <div class="input-group-text fix-icon mt-2 mb-3 icon-box
                          pr-1">
                          <fa-icon [icon]="faUser"></fa-icon>
                        </div>
                      </div>
                      <input required class="user-box mt-2 mb-3 my-btn
                        form-control" type="text" placeholder="Last Name*"
                        name="LastName" id="lastname" formControlName="lastName"
                        />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="input-group col-md-6">
                      <div class="input-group-prepend">
                        <div class="input-group-text fix-icon mt-2 mb-3 icon-box
                          pr-1">
                          <fa-icon [icon]="faBirthdayCake"></fa-icon>
                        </div>
                      </div>
                      <input required placeholder="Date of birth*"
                        class="user-box
                        mt-2 mb-3 my-btn form-control"
                        type="text" onfocus="(this.type='date')"
                        onblur="(this.type='text')" id="date" name="birth"
                        formControlName="birth" />
                    </div>
                    <div class="input-group col-md-6">
                      <select id="gender" class="user-box mt-2 mb-3 my-btn
                        form-control" name="gender"
                        formControlName="gender">
                        <option disabled selected hidden>Gender*</option>
                        <option *ngFor="let gender of genders" [value]="gender"
                          aria-required="true">{{ gender }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="input-group col-md-12">
                      <div class="input-group-prepend">
                        <div class="input-group-text fix-icon mt-2 mb-3 icon-box
                          pr-1">
                          <fa-icon [icon]="faHome"></fa-icon>
                        </div>
                      </div>
                      <input required class="user-box mt-2 mb-3 my-btn
                        form-control" type="text" placeholder="Address*"
                        name="Address" id="address" formControlName="address" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="input-group col-md-6">
                      <div class="input-group-prepend">
                        <div class="input-group-text fix-icon mt-2 mb-3 icon-box
                          pr-1">
                          <fa-icon [icon]="faHome"></fa-icon>
                        </div>
                      </div>
                      <input required class="user-box mt-2 mb-3 my-btn
                        form-control" type="text" placeholder="District*"
                        name="District" id="district" formControlName="district"
                        />
                    </div>
                    <div class="input-group col-md-6">
                      <div class="input-group-prepend">
                        <div class="input-group-text fix-icon mt-2 mb-3 icon-box
                          pr-1">
                          <fa-icon [icon]="faHome"></fa-icon>
                        </div>
                      </div>
                      <input required class="user-box mt-2 mb-3 my-btn
                        form-control" type="text" placeholder="County*"
                        name="County" id="county" formControlName="county" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 p-0 m-0 mt-4 justify-content-start">
          <div class="container-fluid">
            <div class="d-flex justify-content-center">
              <div class="user-card">
                <div class="form">
                  <h4 class="roboto separator">
                    Account Information
                    <hr />
                  </h4>
                  <div class="form-row">
                    <div class="input-group col-md-6">
                      <div class="input-group-prepend">
                        <div class="input-group-text fix-icon mt-2 mb-3 icon-box
                          pr-1">
                          <fa-icon [icon]="faUser"></fa-icon>
                        </div>
                      </div>
                      <input required class="user-box mt-2 mb-3 my-btn
                        form-control" type="text" placeholder="Nickname*"
                        name="Nickname" id="nickname" formControlName="nickname"
                        />
                    </div>
                    <div class="input-group col-md-6">
                      <select id="type" class="user-box mt-2 mb-3 my-btn
                        form-control" name="type" formControlName="type">
                        <option disabled selected hidden>Type of Account*</option>
                        <option *ngFor="let userType of userTypes"
                          [value]="userType" aria-required="true">{{ userType }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text fix-icon mt-2 mb-3 icon-box
                        pr-1">
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                      </div>
                    </div>
                    <input required class="user-box mt-2 mb-3 my-btn
                      form-control"
                      type="email" placeholder="E-mail*"
                      name="Email" id="email" formControlName="email" />
                  </div>
                  <div class="form-row">
                    <div class="input-group col-md-6">
                      <div class="input-group-prepend">
                        <div class="input-group-text fix-icon mt-2 mb-3 icon-box
                          pr-1">
                          <fa-icon [icon]="faLock"></fa-icon>
                        </div>
                      </div>
                      <input required class="user-box mt-2 mb-3 my-btn
                        form-control" type="password"
                        placeholder="Password*" name="Password" id="password"
                        formControlName="password" />
                    </div>
                    <div class="input-group col-md-6">
                      <div class="input-group-prepend">
                        <div class="input-group-text fix-icon mt-2 mb-3 icon-box
                          pr-1">
                          <fa-icon [icon]="faLock"></fa-icon>
                        </div>
                      </div>
                      <input required class="user-box mt-2 mb-3 my-btn
                        form-control" type="password"
                        placeholder="Confirm Password*" name="confirmPassword"
                        id="confirmPassword"
                        formControlName="confirmPassword" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0 p-0">
        <div class="col-sm-5"></div>
        <div class="col-sm-2 mt-4 text-center">
          <button [disabled]="loading" class="button-box btn
            my-btn text-white p-2-5" type="submit">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create Account
          </button>
        </div>
        <div class="col-sm-5"></div>
      </div>
    </form>
  </div>
  <app-footer></app-footer>
</div>
